__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv

# Temporary/Utility Scripts
update_db_schema.py
fix_team_data.py
TA_GUIDE.md

/uploads
MARKET_DATA_GUIDE.md
/docs/BUSINESS_PROFILE_PLAN.md

*.zip

*.zip
*.zip
*.zip
*.zip
api.zip
*.zip
patch_yfinance.py
migrations/sync_tools_from_json.py
